@import url("style.css");

.footer-container{
    --background: #252228 ;
    --text-action: white ;
    --text-colour: white ;

    --foot-padding: 20px;

    background-color: var(--background);
    color: var(--text-colour);
    margin-top: var(--foot-padding);
    padding: var(--foot-padding);


    display: flex;
    flex-direction: column;
    align-items: center;


    .footer-part{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: 10px;
        h3, p, ul  {
            margin: 0;
            font-size: 12px;
        }
    }

    .glossary{
        ul{
            display: flex;
            flex-direction: column;
            list-style: none;
            &>*{
                text-align: center;
            }
        }
    }
    .legal{
        text-align: center;
    }
}