@import url("var.css");

.header{

    background-color: var(--background);

    display: flex;
    align-items: center;
    min-height: var(--header-size-phone);

    font-size: var(--header-font-size-phone);
    font-weight: bold;
    text-transform: uppercase;

    > :first-child{
        flex: 0 1 auto ;
        padding-left: 5%;
        a .logo{
            height:  calc(var(--header-size-phone));
            width: auto;
        }
    }
    > :last-child{
        flex: 1 ;
        display: flex;
        align-items: center;
    }

    menu{
        padding: 0;
        flex: 1 ;

        list-style: none;

        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {
            a{
                text-decoration: none;
                color: var(--text-action-banner) ;

                &:visited, &:active {
                    color:var(--text-action-banner) ;
                }
            }

            form {
                margin: 0;
                select {
                    background-color: var(--background);
                    color: var(--text-action-banner);
                    border: 0;
                    font-size: var(--header-font-size-phone);
                    text-transform: uppercase;
                    font-weight: bold;

                    option {
                        color: var(--text-action-banner);
                        background-color: var(--background);
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}