@import "var.css";

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto Condensed', sans-serif ;
     /* css reset */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;

    #showcase-section{
        box-sizing: border-box;
        padding: 10% ;
        padding-top: 0;
        display: flex;
        flex-direction: column; /*version telephone*/
        width: 100%;

        .showcase{
            box-sizing: border-box;
            flex: 1;
        }

        .about-me{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            height: 100vh;
            gap: 1rem;

            .me{
                display: flex;
                align-items: flex-end;
                justify-content: center;

            }

            .image{
                grid-column: 1;
                grid-row: 1;
            }
            .info{
                text-align: right;
                grid-column: 1;
                grid-row: 2;
                ul{
                    padding: 0;
                    list-style: none;
                    display: inline;
                }
            }
            .resume{
                text-align: justify;
                grid-column: 2;
                grid-row: 1/3;
            }
        }
        .project-slider{
            padding-top: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.no-select{
    user-select: none;
}

a{
    /*text-decoration: none;*/
    color: var(--text-action) ;
    &:visited, &:active {
        color:var(--text-action) ;
    }
}

.rotate90{
    transform: rotate(90deg);
}

.rotate180{
    transform: rotate(180deg);
}

.rotate270{
    transform: rotate(270deg);
}

figure {
    margin: 0;
}

ul {
    padding-left: 10%;
}

button {
    padding: 5px;
}

.slider-button{
    filter: invert(1) drop-shadow(2px 2px 3px rgba(0,0,0,1))  ;
}